################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################
*.suo
.vs
/BizzSummitAPI/BizzSummitAPI/obj
/BizzSummitAPI/BizzSummitAPI/bin
/BizzSummitAPI/.vs